<div class="container">
  <form class="new-task">
    <mat-form-field>
      <mat-label for="title">Title</mat-label>
      <input matInput
        type="text" id="title" name="title"
        [(ngModel)]="newTask.title"
        [disabled]="isProcessing"
        
      />
      <mat-hint>Title must have at least one character.</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="deadline">Deadline</mat-label>
      <input matInput [matDatepicker]="deadlinePicker"
        id="deadline" name="title"
        [(ngModel)]="newTask.deadline"
        [disabled]="isProcessing"
      />
      <mat-hint>Date is optional.</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix [for]="deadlinePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #deadlinePicker></mat-datepicker>
    </mat-form-field>
    <div>
      <button
        mat-flat-button color="primary" type="button"
        (click)="addTask()" [disabled]="isProcessing"
        [disabled]="canAddTask()"
      >
        {{isProcessing ? 'Processing...' : 'Add Task'}}
      </button>
    </div>
  </form>

  <div class="tasks">
    <mat-card
      class="task" 
      [class.completed]="task.completed"
      *ngFor="let task of tasks"
    >
      <mat-card-header>
        <mat-card-subtitle *ngIf="task.deadline">{{ task.deadline }}</mat-card-subtitle>
        <mat-card-title>{{ task.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-actions align="end">
        <mat-checkbox 
          color="accent"
          [(ngModel)]="task.completed"
          (change)="handleChange(task)"
        />
      </mat-card-actions>
    </mat-card>
  </div>

  <button
    mat-flat-button color="accent"
    (click)="archiveCompleted()"
    [disabled]="canArchiveCompleted()"
  >
    Archive Completed
  </button>
</div>
