<div class="bg-body border rounded p-4">
  <h4>list of contacts</h4>
  <table class="table">
    <tbody>
      <tr
        class="mb-3" 
        *ngFor="let person of people; let i = index"
      >
        <td>
          <a
            class="text-success"
            [routerLink]="['/details', i]"
          >
            {{ person.first_name }} {{ person.last_name }} ({{ i }})
          </a>
        </td>
        <td>
          <button
            class="btn btn-outline-danger"
            (click)="delete(i)"
          >
            delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <a 
    class="btn btn-outline-success"
    [routerLink]="['/add']"
  >
    add new contact
  </a>
</div>
